In [298]:
import numpy as np
import os
import pandas as pd
from sklearn import svm
import time
import warnings
warnings.filterwarnings("ignore")

# Data processing

## Data Description

Due to the limited computational resource, we focus on chromosome 16 with only one alternative allele.<br>
We transform data into datafram. Each column is the position of SNPs and each row is the sample ID. We category total 26 groups into 6 ancestry group and replace each ancestry group with number 1-6.<br>
We only care about where mutation appear for each sample. So, we replace 0 (homozygous reference) to 0 (no variant), and 1 or 2(heterozygous and homozygous non-reference) to 1 (variant) for each position through all samples.

In [34]:
%%bash

file=/datasets/cs284-sp21-A00-public/ps2/ps2_pca.genotypes.vcf.gz

zcat $file | head -253 | tail -1 > ~/cse284_SP21_final/data/snps_sample.tab

bcftools query -e'AF<0.01' -e'AF>0.99' -f "%CHROM %POS [%GT\t]\n" $file | \
  sed 's/0|0/0/g' | sed 's/0|1/1/g' | sed 's/1|0/1/g' | sed 's/1|1/2/g' | \
  grep -v "|" \
  > ~/cse284_SP21_final/data/snps.tab

In [221]:
temp = []
with open("/home/yul579/cse284_SP21_final/data/snps.tab", "r") as f:
    for line in f:
        #read line 
        sample = line.strip().split()
        temp.append(sample)
samples = []
with open("/home/yul579/cse284_SP21_final/data/snps_sample.tab", "r") as f:
    for line in f:
        samples = line.strip().split()

In [222]:
cols = ["CHROM","POS"]
cols = cols+samples[9:]

In [223]:
snps = pd.DataFrame(temp, columns=cols)

In [224]:
snps["SNPs_POS"] = "chr"+snps["CHROM"] +":"+snps["POS"]

In [225]:
snps = snps.iloc[:,2:]
snps = snps.set_index('SNPs_POS')

In [226]:
snps = snps.transpose()

In [227]:
temp = []
temp2 = []
with open("/datasets/cs284-sp21-A00-public/ps2/ps2_reference_labels.csv", "r") as f:
    for line in f:
        s, pop = line.strip().split(",")
        temp.append(pop)
        temp2.append(s)

In [228]:
snps = snps.drop(["NA10847","NA18923","NA19700"])

In [229]:
snps["group_id"] = temp

In [230]:
snps.head()

SNPs_POS,chr16:88165,chr16:95254,chr16:97354,chr16:101263,chr16:103423,chr16:103456,chr16:105320,chr16:105444,chr16:107275,chr16:110165,...,chr16:90125947,chr16:90127080,chr16:90132786,chr16:90134325,chr16:90141355,chr16:90141477,chr16:90148979,chr16:90149922,chr16:90163275,group_id
HG00096,0,0,0,1,1,0,1,1,1,1,...,0,0,0,0,2,2,2,0,2,GBR
HG00097,0,0,0,2,2,0,2,2,2,2,...,0,0,0,0,2,2,2,0,2,GBR
HG00099,0,0,0,2,2,0,2,2,2,2,...,0,1,0,0,0,2,2,1,2,GBR
HG00100,0,0,0,1,1,0,1,1,1,1,...,0,1,0,0,1,2,2,1,1,GBR
HG00101,0,0,0,2,2,0,2,2,2,2,...,0,1,0,0,1,2,2,1,1,GBR

In [231]:
list(snps. index) == temp2

True

In [232]:
def ancestry_type(row):
    if row.group_id in ["ACB","ASW"]:
        return "Admixed African"
    elif row.group_id in ["GIH","BEB","ITU"]:
        return "South Asian"
    elif row.group_id in ["CDX","CHB","CHS","JPT","KHV"]:
        return "East Asian"
    elif row.group_id in ["CEU","FIN","GBR","IBS","TSI"]:
        return "European"
    elif row.group_id in ["CLM","MXL","PEL","PJL","PUR","STU"]:
        return "American"
    elif row.group_id in ["LWK","MSL","YRI","ESN","GWD"]:
        return "African"
    else:
        return None
snps["ancestry_group"] = snps.apply(ancestry_type, axis = 1)

In [233]:
def code_group(row):
    if row.ancestry_group == "Admixed African":
        return 1
    elif row.ancestry_group == "South Asian":
        return 2
    elif row.ancestry_group == "East Asian":
        return 3
    elif row.ancestry_group == "European":
        return 4
    elif row.ancestry_group == "American":
        return 5
    elif row.ancestry_group == "African":
        return 6
    else:
        return 0

In [234]:
snps["class"] = snps.apply(code_group, axis = 1)

In [235]:
snps.head()

SNPs_POS,chr16:88165,chr16:95254,chr16:97354,chr16:101263,chr16:103423,chr16:103456,chr16:105320,chr16:105444,chr16:107275,chr16:110165,...,chr16:90132786,chr16:90134325,chr16:90141355,chr16:90141477,chr16:90148979,chr16:90149922,chr16:90163275,group_id,ancestry_group,class
HG00096,0,0,0,1,1,0,1,1,1,1,...,0,0,2,2,2,0,2,GBR,European,4
HG00097,0,0,0,2,2,0,2,2,2,2,...,0,0,2,2,2,0,2,GBR,European,4
HG00099,0,0,0,2,2,0,2,2,2,2,...,0,0,0,2,2,1,2,GBR,European,4
HG00100,0,0,0,1,1,0,1,1,1,1,...,0,0,1,2,2,1,1,GBR,European,4
HG00101,0,0,0,2,2,0,2,2,2,2,...,0,0,1,2,2,1,1,GBR,European,4

## Data split

We randomly split the data into 75% train and 25% test.

In [236]:
from sklearn.model_selection import train_test_split

In [285]:
#Select the columns of features
X=snps.loc[: , (snps.columns != 'group_id') & (snps.columns != 'ancestry_group') & (snps.columns != 'class')]

In [286]:
X = X.applymap(lambda x: 1 if int(x) >0 else 0)
X.head()

SNPs_POS,chr16:88165,chr16:95254,chr16:97354,chr16:101263,chr16:103423,chr16:103456,chr16:105320,chr16:105444,chr16:107275,chr16:110165,...,chr16:90125731,chr16:90125947,chr16:90127080,chr16:90132786,chr16:90134325,chr16:90141355,chr16:90141477,chr16:90148979,chr16:90149922,chr16:90163275
HG00096,0,0,0,1,1,0,1,1,1,1,...,0,0,0,0,0,1,1,1,0,1
HG00097,0,0,0,1,1,0,1,1,1,1,...,0,0,0,0,0,1,1,1,0,1
HG00099,0,0,0,1,1,0,1,1,1,1,...,0,0,1,0,0,0,1,1,1,1
HG00100,0,0,0,1,1,0,1,1,1,1,...,0,0,1,0,0,1,1,1,1,1
HG00101,0,0,0,1,1,0,1,1,1,1,...,0,0,1,0,0,1,1,1,1,1

In [287]:
#Select the class column
Y=snps.loc[: , snps.columns == 'class']
Y.head()

SNPs_POS  class
HG00096       4
HG00097       4
HG00099       4
HG00100       4
HG00101       4

In [288]:
x_train, x_test, y_train, y_test = train_test_split(X, Y)

# Methods

In [295]:
#chi2
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
#random forest
#from sklearn.ensemble import RandomForestClassfier
#from sklearn.feature_selection import SelectFromModel
import random
#PCA
from sklearn.decomposition import PCA

## chi2 selection

In [290]:
def chi2_selection(x_train,x_test,y_train,y_test,num):
    test = SelectKBest(score_func=chi2, k=num).fit(x_train, y_train)
    X_select_index = test.get_support(indices=True)
    return X_select_index

## Random Select

In [291]:
def random_select(k):
    return random.sample(range(28622), k)

## PCA

In [296]:
def PCA_comparison(x_train,x_test):
    pca = PCA(n_components=4).fit(x_train)
    train_pca = pca.transform(x_train)
    test_pca = pca.transform(x_test)
    return train_pca,test_pca

# Classification Results

## SVM

In [292]:
def simple_SVM(X,Y,test_X,test_Y):
    time0=time.time()
    clf = svm.SVC(kernel='linear')
    clf.fit(X,Y)
    print('train acc:',clf.score(X, Y))
    print('test acc:',clf.score(test_X, test_Y))

In [299]:
#chi2
idx = chi2_selection(x_train,x_test,y_train,y_test,50)
simple_SVM(x_train.iloc[:,idx],y_train,x_test.iloc[:,idx],y_test)

train acc: 0.6965333333333333
test acc: 0.7092651757188498

In [300]:
#random select
rl = random_select(50)
simple_SVM(x_train.iloc[:,rl],y_train,x_test.iloc[:,rl],y_test)

train acc: 0.7605333333333333
test acc: 0.7060702875399361

In [301]:
#PCA
x_train_pca,x_test_pca = PCA_comparison(x_train,x_test)
simple_SVM(x_train_pca,y_train,x_test_pca,y_test)

train acc: 0.8682666666666666
test acc: 0.889776357827476

# Discussion

# Summary